body{
    background-color: red;
}
.botton{
    background-color: aquamarine;
    width: 70px;
    color: gold;

}

@media only screen and (max-width: 320px){
    body{
        background-color: chartreuse;
    }
}

@media only screen and (max-width: 900px) and (min-width: 320px){
    body{
        background-color: rgb(34, 196, 188);
    }   }